@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@400;500&display=swap');


:root{
    --backgroung-gris: #303134;
    --black-gradiant: #050B13;
    --mid-gradiant:#4D4D4D;
    --end-gradiant:#333040;
    --heightNav:60px;
    }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

body{
    overflow-x: hidden; 
    scroll-behavior: smooth;
}


/********************/
/*** SECTION NAV ***/
/********************/

nav{
    width: 100vw;
    height: var(--heightNav);
    background-color: var(--backgroung-gris);
    position: fixed;
    display: flex;
    overflow-y: visible;
    border-bottom: red solid 1px;
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;

}

nav a{
    text-decoration: none;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.menu li{
    margin: 0 15px;
    cursor: pointer;
    position: relative;
}

.menu li a{
    font-size: 1.2em;
}

.menu li::after{
    content:'';
    display: block;
    width:0px;
    height:3px;
    z-index:1;
    position:absolute;
    background:whitesmoke;
    transition: width 0.25s ease-in-out;
    margin-top: 4px;
}

.menu li:hover::after{
    width: 100%;
}





/********************/
/*** SECTION HOME ***/
/********************/

#home{
    height: 100vh;
    background-color: var(--black-gradiant);


}

#home .container-cover{
    display: flex;
    padding: 68vh 5vw 0 10vw;
    border: solid yellow 1px;
    height: 100vh;
    animation: zoom-out 1.9s ease-in-out 1s forwards;
}

#home .nonMovingDiv{
    border: pink 1px solid;
    display: block;
    position: relative;
    overflow: hidden;
}


#home .logo{
    background: url(img/White\ logo.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    height: 20vh;
    width: 21vw;
    min-width: 250px;
    border: solid red 1px;
    overflow: hidden;
    opacity: 0;
    animation: showLogo 0.8s ease-in-out 1.8s forwards;
}

#home .container-text{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    border: solid orange 1px;

}

.topText{
    overflow: hidden;
    border: greenyellow solid 1px;
    padding: 0 40px;
}



h1{
    font-family: 'Koulen', cursive;
    color: whitesmoke;
    font-size: 2.8em;
    font-weight: 500;
    line-height: 1.25em;
    opacity:0;
    animation: showTopText 0.4s ease-in-out 2.1s forwards;

}

#home .discoverUs{
    /* border: solid 1px whitesmoke; */
    text-align: center;
    align-self: center;
    padding: 0.8em;
    width: 22%;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 25px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    animation: appear 1.1s linear 2.5s forwards;
}

#home a{
    text-decoration: none;
}

/* .discoverUs:hover a{
    color: #303134;
} */


.discoverUs {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: whitesmoke;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  } 

  
 .discoverUs:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }



/**** Animation shadow box ***/
/* .discoverUs{
    box-shadow: 
        0.3em 0.3em 0 0 whitesmoke,
        inset 0.3em 0.3em 0 0 whitesmoke;
    transition: 0.25s;
}

.discoverUs:hover{
    box-shadow: 
        0 0 0 0 whitesmoke,
        inset 6em 3.5em 0 0 whitesmoke;
    cursor: pointer;
} */






/**************************/
/*** SECTION WHO WE ARE ***/
/**************************/

#whoWeAre{
    height: 100vh;
    background: rgb(5,11,19);
    background: linear-gradient(45deg, rgba(5,11,19,1) 0%, rgba(77,77,77,1) 49%, rgba(51,48,64,1) 100%);
}


#sideimg{
    height: 100vh;
    width: 100%;
    background: url(img/img2.png);
    background-position: right;
    background-size:contain;
    background-repeat: no-repeat;
    border: yellow 1px solid;
    position: absolute;
}


#whoWeAre .container1{
    width: 60vw;
    height: calc(100vh - var(--heightNav));
    z-index: 3;
    border: greenyellow 1px solid;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: var(--heightNav);
    margin-left: 1vw;
}

.logo{
    background: url(img/White\ logo.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    height: 12vh;
    width: 12vw;
    z-index: 1;
    position: relative;
    border: red 1px solid;
    position: relative;
    top:0;
    left:0;
}


#whoWeAre .container2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: blue 1px solid;
}


#whoWeAre .container3-1{
    border: 1px solid pink;
    width: 65%;
    padding: 1em 1.8em;
    text-align: center;
}

#whoWeAre .container3-1 p{
    font-size: 1.2em;
    line-height: 1.7em;
}


#whoWeAre h2{
    /* padding: 1.5em; */

}


#whoWeAre .container3-2{
    display: flex;
    flex-direction: column;
    border: 1px solid pink;
    width: 65%;
    padding: 1em 1.8em;
    text-align: left;
}

#whoWeAre .container4-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 1,3;
    border: 1px solid purple;
    padding: 1em 1.8em;
    text-align: left;
    align-items: center;
}



#whoWeAre .icone{
    width: 20%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

#whoWeAre .maintenance{
    background: url(img/icone-maintenance.png);
    border: 1px solid #2F528F;
    background-repeat: no-repeat;
    background-position: center;
    background-size:60%;
}

#whoWeAre .text-services{
    line-height: 1.5em;
    border: grey dashed 1px;
}

#whoWeAre li{
    list-style-position: inside;
}

#whoWeAre .world{
    background: url(img/icone-world.png);
    border: 1px solid #4185B5;
    background-repeat: no-repeat;
    background-position: center;
}


#whoWeAre .certified{
    background: url(img/icone-certified.png);
    border: 1px solid #A1D4F1;
    background-repeat: no-repeat;
    background-position: center;
}



/********************************/
/*** SECTION OUR CAPABILITIES ***/
/********************************/

#ourCapabilities{
    height: 100vh;
    background: rgb(5,11,19);
    background: linear-gradient(45deg, rgba(5,11,19,1) 0%, rgba(77,77,77,1) 49%, rgba(51,48,64,1) 100%);
}



#fullcontainer{
    height: 100vh;
    width: 100%;
    border: yellow 1px solid;
    position: absolute;
    opacity: 1;

}


#ourCapabilities .container1{
    width: 100vw;
    height: calc(100vh - var(--heightNav));
    z-index: 3;
    border: greenyellow 1px solid;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: var(--heightNav);
    margin-left: 1vw;

}

#ourCapabilities .container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80%;
    border: blue 1px solid;
    background: url(img/img3.png);
    background-position: 50% 90%;
    background-size:60%;
    background-repeat: no-repeat;
    animation: zoomOutFade 0.5s ease-in-out forwards;
}

#ourCapabilities .service{
    border: pink 1px solid;
    display: flex;
    flex-direction: row;
    width: 30%;
    padding-left: 30px;
    padding-right: 20px;
}

#ourCapabilities .chiffre{
    font-size: 6em;
    font-weight: bold;
    padding-right: 0.2em;
}

#ourCapabilities h3{
    padding: 1.5em 0 0.7em 0;
    font-size: 1.5em;
    font-weight: 500;
}


#fullcontainer ul {
    list-style-type: none;
    font-size: 1.2em;
  }

#fullcontainer ul li:before {
    content: '✓ ';
  }



.s1{
    padding-top: 50px;
    animation: zoomOutFade 1s ease-in-out 0.4s forwards;
    opacity:0;
}

.s2{
    animation: zoomOutFade 1s ease-in-out 0.6s forwards;
    opacity: 0;
}

.s3{
    padding-top: 50px;
    animation: zoomOutFade 1s ease-in-out 0.8s forwards;
    opacity: 0;
}

.s4{
    animation: zoomOutFade 1s ease-in-out 1s forwards;
    opacity: 0;
}

.s5{
    animation: zoomOutFade 1s ease-in-out 1.2s forwards;
    opacity: 0; 
}


.serv1{
    color: #DDE8E4;
}


.serv2{
    color: #A9B5B6 ;
}

.serv3{
    color:#958C83 ;
}

.serv4{
    color:#7D807F;
}

.serv5{
    color: #909FAA;
}

.text p{
    padding-right: 20%;
    font-size: 1.2em;
}



/************************/
/*** SECTION CONTACT ***/
/***********************/

#contact{
    height: 100vh;
    background: rgb(5,11,19);
    background: linear-gradient(45deg, rgba(5,11,19,1) 0%, rgba(77,77,77,1) 49%, rgba(51,48,64,1) 100%);
}

#contact .container1{
    width: 100vw;
    border: greenyellow 1px solid;
    position: relative;
}


#banner{
    border: #2F528F solid 1px;
    width: 100vw;
    height: 30vh;
    background-image: url(/img/img4.jpeg);
    background-size: cover;
    background-position: 0% 15%;
    padding-top: var(--heightNav);
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#banner h2{
    margin-top: 11vh;
    font-size: 2.5em;
    border: #050B13 1PX SOLID;

}

#banner button{
    color: var(--backgroung-gris);
    margin-right: 5vw;
    margin-top: 10vh;
    padding: 0.5em;
    font-size: 1.1em;
    cursor: pointer;
    border: whitesmoke 1px solid;

}

.Sam{
    font-size: 2em;
    text-align: center;
    padding: 1em;
}

.infosContact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: #4185B5 1px solid;
    padding: 1.5em 0;
}

#contact .container3{
    padding: 0 2em;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
}

#contact i{
    padding: 0 1em;
}

#contact .subInfos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
}

#contact .subInfo{
    padding: 0.5em;
}


#contact .offices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #427388 1px solid;
    border-radius: 20px;
    padding: 1em;
    margin: 1%;

}

#contact .office {
    border: red solid 1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 30%;

}


#contact .off1{
    padding: 1em;
}

#contact .offices .titreOffice{
    font-size: 2em;
}

#contact .offices .textoffice1{
    font-style: italic;
    padding-top: 1em;
    padding-right: 1em;
}

#contact .off2::before, .off2::after{
    border: #427388 solid 1px;
    content:"";
    height: 80%;
    padding: 0;
}

#contact .offices p{
    font-size: 1.2em;
}

#contact .adresse{
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

/********************/
/*** SECTION FOOTER ***/
/********************/

#footer{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 40px;
    background-color: var(--black-gradiant);
    font-size: 0.85em;
    align-items: center;
    justify-content: center;
}

#footer p,span{
    color: rgb(192, 192, 192);
}




/**** ANIMATIONS *****/
@keyframes zoom-out{
    0% {background: url(img/MSM\ Aviation\ -\ Helicopters\ -\ cover\ picture.jpg);
        transform: scale(1.2, 1.2);
        opacity: 0.5;
        background-position: center;
        background-size: cover;

    }
    100% {
        background: url(img/MSM\ Aviation\ -\ Helicopters\ -\ cover\ picture.jpg);
        transform: scale(1, 1);
        opacity:1;
        background-position: center;
        background-size: cover;
    }
}

@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); opacity: 1; }
    100% { transform: translate3d(0, 0, 0); opacity:1; }
  }

@keyframes showLogo {
    0% { transform: translate3d(0, -100%, 0); opacity:1}
    100% { transform: translate3d(0, 0, 0); opacity:1}
  }

@keyframes appear {
    0% { visibility: visible; z-index:1; opacity:0; }
    100% {visibility: visible;  z-index:1; opacity:1; }
}

@keyframes zoomOutFade{
    0%{
        opacity:0;
        transform: scale(2,2);
    }
    100%{
        opacity:1;
        transform: scale(1,1);
    }

}