@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@400;500&display=swap');


:root{
    --backgroung-gris: #303134;
    --black-gradiant: #050B13;
    --mid-gradiant:#4D4D4D;
    --end-gradiant:#333040;
    --heightNav:60px;
    }

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
    }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-weight:400;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden; 
}


.desktop-hide{
    display: none;
}

/************* Developpement de base pour ecran PC ************/
/*************************************************************/


/********************/
/*** SECTION NAV ***/
/********************/

nav{
    width: 100vw;
    height: var(--heightNav);
    background-color: var(--backgroung-gris);
    position: fixed;
    display: flex;
    overflow-y: visible;
    z-index: 6;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}

nav label{
    display: none;
}

.burger{
    display: none;
}

nav input[type=checkbox]{
    display: none;
    transition: 0,5s;
}

nav a{
    text-decoration: none;
}

.menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

.menu li{
    margin: 0 15px;
    cursor: pointer;
    position: relative;
}

.menu li a{
    font-size: 1.2em;
}

.menu button{
    background-color: inherit;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.menu li::after{
    content:'';
    display: block;
    width:0px;
    height:3px;
    z-index:1;
    position:absolute;
    background:whitesmoke;
    transition: width 0.25s ease-in-out;
    margin-top: 4px;
}

.menu li:hover::after{
    width: 100%;
}


/********************/
/*** SECTION HOME ***/
/********************/

#home{
    height: 100vh;
    background-color: var(--black-gradiant);
}

#home .container-cover{
    display: flex;
    padding: 68vh 5vw 0 10vw;
    height: 100vh;
    animation: zoom-out 1.9s ease-in-out 1s forwards;
}

#home .nonMovingDiv{
    display: block;
    position: relative;
    overflow: hidden;
}


#home .logo{
    background: url(img/White\ logo.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    height: 20vh;
    width: 21vw;
    min-width: 250px;
    overflow: hidden;
    opacity: 0;
    animation: showLogo 0.8s ease-in-out 1.8s forwards;
}

#home .container-text{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;

}

.topText{
    overflow: hidden;
    padding: 0 40px;
}



h1{
    font-family: 'Koulen', cursive;
    color: whitesmoke;
    font-size: 2.8em;
    font-weight: 500;
    line-height: 1.25em;
    opacity:0;
    animation: showTopText 0.4s ease-in-out 2.1s forwards;
}

#home .discoverUs{
    text-align: center;
    align-self: center;
    padding: 0.8em;
    width: 22%;
    background-color: inherit;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 25px;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    animation: appear 1.1s linear 2.5s forwards;
}

#home a{
    text-decoration: none;
}

#home a >div{
    font-weight: 500;
}


.discoverUs {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: whitesmoke;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 750ms cubic-bezier(0.19, 1, 0.22, 1);
  } 

  
 .discoverUs:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }


/**************************/
/*** SECTION WHO WE ARE ***/
/**************************/

#whoWeAre{
    height: 100vh;
    background: rgb(5,11,19);
    background: linear-gradient(45deg, rgba(5,11,19,1) 0%, rgba(77,77,77,1) 49%, rgba(51,48,64,1) 100%);
}


#sideimg{
    height: 100vh;
    width: 100%;
    background: url(img/img3\ -S.png);
    background-position: left;
    background-size:contain;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    justify-content: end;
    opacity: 0;
    animation: appear 1s linear 0.7s forwards;
}


#whoWeAre .container1{
    width: 63vw;
    min-width: 600px;
    height: calc(100vh - var(--heightNav));
    z-index: 3;
    position:relative;
    display: flex;
    flex-direction: row;
    margin-top: var(--heightNav);
    margin-left: 1vw;
}


.logo{
    background: url(img/White\ logo.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    height: 12vh;
    width: 12vw;
    z-index: 1;
    position: relative;
    position: relative;
    top:0;
    left:0;
}


#whoWeAre .container2{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    margin-top: 5%; 
    align-items: center;
}


#whoWeAre .container3-1{
    flex-basis: 1;
    padding: 0 4.5em 0 1.5em;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content:center;

}

#whoWeAre .story{
    padding: 0 0 30px 0;
    animation: slide-text 1.2s linear 0.8s forwards;
}

#whoWeAre .container3-1 p{
    font-size: 1.17rem;
    font-weight:400;
    line-height: 1.5em;
    letter-spacing:0.01rem;
    margin-bottom: 8%;
}


#whoWeAre .p1{
    opacity: 0;
    transform: translateY(90px);
    animation: reveal 0.35s ease-in-out 0.7s forwards;
}

#whoWeAre .p2{
    opacity: 0;
    transform: translateY(90px);
    animation: reveal 0.35s ease-in-out 0.7s forwards;
}

#whoWeAre .p3{
    opacity: 0;
    transform: translateY(90px);
    animation: reveal 0.35s ease-in-out 0.7s forwards;
}


#whoWeAre h2{
    padding: 0.5em;
    font-size: 1.8em;
    letter-spacing: 1px;
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -550px;
    animation: slide-text 1.2s linear 2.3s forwards;
    font-weight:550;
}


#whoWeAre .container3-2{
    flex-basis: 1;
    display: flex;
    flex-direction: column;
    padding: 1em 1.8em;
    text-align: left;
    justify-content: center;
}


#whoWeAre .container4-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 1,3;
    padding: 1em 0;
    text-align: left;
    align-items: center;
    margin-bottom: 1em;
}


#whoWeAre i{
    font-size: 2em;
    padding: 0.7em;
    border: #427388 solid 2px;
    border-radius: 50%;
    margin-right: 5%;
    opacity: 0;
}



#whoWeAre .text-services{
    line-height: 1.5em;
    padding-right: 20px;
    flex-grow: 1;
}

#whoWeAre h3{
    padding-bottom: 15px;
    color: transparent;
    background-image: linear-gradient(#fff, #fff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -500px;
    font-weight: 500;
}

#whoWeAre .h3-1{
    animation: slide-text 1.2s linear 2.9s forwards;
}

#whoWeAre .h3-2{
    animation: slide-text 1.2s linear 3.4s forwards;
}

#whoWeAre .h3-3{
    animation: slide-text 1.2s linear 3.9s forwards;
}

#whoWeAre .opacity{
    opacity: 0;
    animation: opacity 1.5s ease-in-out 5s forwards;
}


#whoWeAre li{
    list-style-position: inside;
    list-style-type:circle;
}

#whoWeAre .world{
    background: url(img/icone-world.png);
    border: 1px solid #4185B5;
    background-repeat: no-repeat;
    background-position: center;
}


#whoWeAre .certified{
    background: url(img/icone-certified.png);
    border: 1px solid #A1D4F1;
    background-repeat: no-repeat;
    background-position: center;
}


/********************************/
/*** SECTION OUR CAPABILITIES ***/
/********************************/

#ourCapabilities{
    height: 100vh;
    background: rgb(5,11,19);
    background: linear-gradient(45deg, rgba(5,11,19,1) 0%, rgba(77,77,77,1) 49%, rgba(51,48,64,1) 100%);
}


#fullcontainer{
    height: 100vh;
    width: 100%;
    position: absolute;
    opacity: 1;
}


#ourCapabilities .container1{
    width: 100vw;
    height: calc(100vh - var(--heightNav));
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: var(--heightNav);
    margin-left: 1vw;
}


#ourCapabilities .container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80%;
    background: url(img/img3.png);
    background-position: 53% 90%;
    background-size:55%;
    background-repeat: no-repeat;
    opacity: 0;
    animation: zoomOutFade 0.5s ease-in-out 0.4s forwards;
}

#ourCapabilities .service{
    display: flex;
    flex-direction: row;
    width: 30%;
    padding-left: 15px;
    padding-right: 10px;
}

#ourCapabilities .chiffre{
    font-size: 6em;
    font-weight: bold;
    padding-right: 0.2em;
}

#ourCapabilities h3{
    padding: 1.5em 0 0.7em 0;
    font-size: 1.5em;
    font-weight: 500;
}


#fullcontainer ul {
    list-style-type: none;
    font-size: 1.1em;
    padding-right: 2.4vw;
  }

#fullcontainer ul li:before {
    content: '✓ ';
  }


  .s1{
    padding-top: 40px;
    animation: zoomOutFade 1s ease-in-out 0.8s forwards;
    opacity:0;
}

.s2{
    animation: zoomOutFade 1s ease-in-out 1s forwards;
    opacity: 0;
}

.s3{
    padding-top: 50px;
    animation: zoomOutFade 1s ease-in-out 1.2s forwards;
    opacity: 0;
}

.s4{
    animation: zoomOutFade 1s ease-in-out 1.4s forwards;
    opacity: 0;
    padding-top: 20px;
}

.s5{
    padding-top: 50px;
    animation: zoomOutFade 1s ease-in-out 1.6s forwards;
    opacity: 0; 
}


.serv1{
    color: #DDE8E4;
}


.serv2{
    color: #A9B5B6 ;
}

.serv3{
    color:#958C83 ;
}

.serv4{
    color:#7D807F;
}

.serv5{
    color: #909FAA;
}

.text p{
    padding-right: 20%;
    font-size: 1.15em;
}



/************************/
/*** SECTION CONTACT ***/
/***********************/

#contact{
    height: 100vh;
    background: rgb(5,11,19);
    background: linear-gradient(45deg, rgba(5,11,19,1) 0%, rgba(77,77,77,1) 49%, rgba(51,48,64,1) 100%);
}


#contact .container1{
    width: 100vw;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: appear 0.8s ease-in-out 0.5s forwards;
}


#banner{
    border: #2F528F solid 1px;
    width: 100vw;
    min-height: 37vh;
    background-image: url(/img/img7.jpg);
    background-size: cover;
    background-position: 0% 15%;
    padding-top: var(--heightNav);
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#banner h2{
    margin-top: 13vh;
    font-size: 2.8em;
    color:#303134;
    font-weight:900;
    justify-self:center;
    border-radius: 9%;
}


#contact .container2{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 55vw;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255,255,255, 0.1);
    backdrop-filter: blur(2px);
    margin: 20px;
}

#contact .infoSam{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#contact .Sam{
    font-size: 1.55em;
    text-align: center;
    padding: 1em;
}

#contact .infosContact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5em 0;
}

#contact .container3{
    padding: 0.5em 2em;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
}

#contact i{
    padding: 0 1em;
}

#contact hr{
    width: 35%;
}

#contact .subInfos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    flex-basis: 33%;
}

#contact .subInfo{
    padding: 0.6em;
    font-size: 0.9em;
    text-align: center;
}

#contact button{
    color: var(--backgroung-gris);
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    font-size: 0.8em;
    cursor: pointer;
    border: whitesmoke 2px solid;
    color: whitesmoke;
    background-color: inherit;
    font-weight: 500;
}

#contact button:hover{
    background-color: whitesmoke;
    color: #303134;
    transition: 0.3s;
}


#contact .offices{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;

}

#contact .office {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


#contact .off1{
    padding: 1em;
    margin-left: 2em;
    flex-basis: 60%;
}

#contact .offices .titreOffice{
    font-size: 2em;
}

#contact .offices .textoffice1{
    font-style: italic;
    padding-top: 1em;
    padding-right: 1em;
    font-size: 1.05em;
}

#contact .off2{
    display: flex;
    flex-direction: row;
}

#contact .off2 i{
    font-size: 2em;
    padding: 0 0.5em;
    align-self: center;
}

#contact .offices p{
    font-size: 1.2em;
}

#contact .adresse{
    justify-content: space-around;
    align-items:center;
    font-size: 0.9em;
    flex-basis: 30%;
}

#contact .space{
    max-height: 50px;
    flex-shrink: 1;
}


/********************/
/*** SECTION FOOTER ***/
/********************/

#footer{
    position: absolute;
    display: flex;
    width: 100vw;
    height: 40px;
    background-color: var(--black-gradiant);
    font-size: 0.85em;
    align-items: center;
    justify-content: center;
}

#footer p,span{
    color: rgb(192, 192, 192);
}


/**************************/
/*** SECTION DISCLAIMER ***/
/**************************/

#disclaimer{
    height: 100vh;
    background: rgb(5,11,19);
    background: linear-gradient(45deg, rgba(5,11,19,1) 0%, rgba(77,77,77,1) 49%, rgba(51,48,64,1) 100%);
}

#disclaimer .container{
    padding-top: var(--heightNav);
    width: 60vw;
    height: 50vh;
    padding-left: 4em;
}

#disclaimer h3{
    text-transform: uppercase;
    font-size: 2.5em;
    padding: 0.5em 0.5em 0.5em 0 ;
}

#disclaimer p{
    line-height: 1.5em;
    font-size: 1em;
}



/**** ANIMATIONS *****/
@keyframes zoom-out{
    0% {background: url(img/MSM\ Aviation\ -\ Helicopters\ -\ cover\ picture.jpg);
        transform: scale(1.2, 1.2);
        opacity: 0.5;
        background-position: center;
        background-size: cover;

    }
    100% {
        background: url(img/MSM\ Aviation\ -\ Helicopters\ -\ cover\ picture.jpg);
        transform: scale(1, 1);
        opacity:1;
        background-position: center;
        background-size: cover;
    }
}

@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); opacity: 1; }
    100% { transform: translate3d(0, 0, 0); opacity:1; }
  }

@keyframes showLogo {
    0% { transform: translate3d(0, -100%, 0); opacity:1}
    100% { transform: translate3d(0, 0, 0); opacity:1}
  }

@keyframes appear {
    0% { visibility: visible; z-index:1; opacity:0; }
    100% {visibility: visible;  z-index:1; opacity:1; }
}

@keyframes zoomOutFade{
    0%{
        opacity:0;
        transform: scale(2,2);
    }
    100%{
        opacity:1;
        transform: scale(1,1);
    }

}


@keyframes reveal{
    100%{
    opacity: 1;
    transform: translateY(0);
    }
}




@keyframes zoom-out-mobile{
    0% {background: url(img/MSM\ Aviation\ -\ Helicopters\ -\ cover\ S.jpg);
        transform: scale(1.2, 1.2);
        opacity: 0.5;
        background-position: 60% 50%;
        background-size: 180%;

    }
    100% {
        background: url(img/MSM\ Aviation\ -\ Helicopters\ -\ cover\ S.jpg);
        transform: scale(1, 1);
        opacity:1;
        background-position: 60% 50%;
        background-size: 180%;
    }
}


@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, -9px, 0);
    }
}


@keyframes slide-text {
    100% {
      background-position: 0 0;
    }
}

@keyframes opacity{
    100%{
        opacity: 100;
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}




/* ***************************************************************** */
/************Styles spécifiques pour les mobiles *********************/
@media screen and (max-width: 650px){


.mobile-hide{
    display: none;
}

.desktop-hide{
    display: inherit;
}



/********************/
/*** ALL SECTIONS ***/
/********************/

.desktop-hide h2{
    padding: 0.7em 0;
    font-size: 1.6em;
    font-weight: 500;
}

.border-bottom{
    border-bottom: whitesmoke 1px solid;
    margin-bottom: 1em;
    overflow-y: hidden;
}

.space{
    height: 50px;
}

/********************/
/*** SECTION NAV ***/
/********************/

    nav{
        width: 100vw;
        height: auto;
        background-color: var(--backgroung-gris);
        position: fixed;
        display: flex;
        overflow-y: visible;
        z-index: 1;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
    
    }


    #burger-menu{
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 5px 15px;
    }
    
    nav label{
        display: inline-block;
        text-align: right;
        position: relative;
        cursor: pointer;
    }

    .burger{
        padding: 5px;
        color: whitesmoke;
        display: block;
        position: relative;
        justify-content: right;
        place-self: right;
        text-transform: uppercase;
    }


    
    nav a {
        text-decoration: none;
        color: inherit;
    }
    
    .menu{
        display:none;
        background-color: inherit;
        list-style-type: none;
        text-align: inherit;    
    } 
    
  
    
    nav input[type=checkbox]{
        display: none;
        transition: 0,5s;
    }
    
    nav input[type=checkbox]:checked + ul {
        display: flex;
        flex-flow: column wrap;

        text-align: right;
        transition: 0,5s;
    }

    .menu li{
        margin: 0;
        padding: 5px 5px;
        cursor: pointer;
        position: relative;
        font-size: 0.9em;
    }

    .menu li::after{
        display: none;
    }
    
    
 /********************/
/*** SECTION HOME ***/
/********************/   
#home .mobile-hide{
    display: none;
}

#home .desktop-hide{
    display: inherit;
}

#home .container-cover{
    padding: 45px 5vw 0 5vw;
    animation: zoom-out-mobile 1.7s ease-in-out 1s forwards;
    flex-direction: column;
    justify-content: space-between;
}

#home .nonMovingDiv-mobile{
    display: block;
    position: relative;
    overflow: hidden;
}


#home .logo-mobile{
    background: url(img/logo_msm_darkgrey.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px 0 ;
    width: 100%;
    height: 13vh;
    min-height: 80px;
    overflow: hidden;
    opacity: 0;
    animation: showLogo 0.3s ease-in-out 1.8s forwards;
}


#home .container-text{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.topText{
    overflow: hidden;
    padding: 0 0px;
}


h1{
    font-family: 'Koulen', cursive;
    color: whitesmoke;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.25em;
    text-align: center;
    opacity:0;
    padding: 0 1em;
    animation: showTopText 0.4s ease-in-out 2.1s forwards;
}

#home .discoverUs{
    text-align: center;
    align-self: center;
    padding: 0.6em;
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    margin-top: 20px;
    outline: 0px solid;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    animation: appear 1.1s linear 2.5s forwards;
    pointer-events: none;
}


.expand{
    display: flex;
    justify-content: center;
}

.expand span{
    font-size: 3em;
    animation: bounce 0.4s ease-in-out 4s alternate;
    animation-iteration-count: 8;
}


 /**************************/
/*** SECTION WHO WE ARE ***/
/**************************/   

.repere{
    width: 100%;
    height: 1px;
    position: relative;
    top: -50px;
}

#whoWeAre-mobile{
    height: fit-content;
    background: rgb(5,11,19);
    background: linear-gradient(45deg, rgba(5,11,19,1) 0%, rgba(77,77,77,1) 49%, rgba(51,48,64,1) 100%);
    text-align: center;
    padding: 10px 9vw;
}

#whoWeAre-mobile .text-intro{
    padding: 10px 20px;
    font-weight: 500;

}

#whoWeAre-mobile h3{
    padding: 1em 0;
    font-weight: 500;
    font-size: 1.3em;;
}

#whoWeAre-mobile i{
    border:#427388 solid 2px;
    border-radius: 50%;
    padding: 20px;
    font-size: 1.8em;
    margin-top: 15px;
}

#whoWeAre-mobile h4{
    font-weight: 500;
    font-size: 1em;
    text-transform: uppercase;
    padding: 1em;
}


#whoWeAre-mobile ul{
    line-height: 1.5em;
}

#whoWeAre-mobile li{
    list-style-position: inside;
    list-style: none;
    padding-bottom: 1em;
}

#whoWeAre-mobile li:before{
    content: '⮚ ';
    font-size: 1em;
}



 /************************/
/*** OUR CAPABILITIES ***/
/************************/

#capabilities-mobile{
    height: fit-content;
    background: rgb(5,11,19);
    background: linear-gradient(45deg, rgba(5,11,19,1) 0%, rgba(77,77,77,1) 49%, rgba(51,48,64,1) 100%);
    text-align: center;
    padding: 10px 9vw;
}

#capabilities-mobile .helicopterMaquette-mobile{
    background: url(img/img3.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vw;
    margin: 5px 0 ;
}

#capabilities-mobile .capability{
    display: flex;
    flex-direction: row;
    padding: 1em 0 0.5em 0;
    align-items: center;
    margin-top: 0.5em;
}

#capabilities-mobile .number{
    font-size: 3em;
    font-weight: 600;
}

#capabilities-mobile .title-capability{
    font-size: 1.1em;
    font-weight: 500;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 0.8em;
}


#capabilities-mobile ul{
    text-align: left;
    font-size: 0.9em;
}


#capabilities-mobile li{
    list-style: none;
}

#capabilities-mobile li:before{
    content: '✓';
    padding-right: 1em;
    font-weight: 600;
}

#capabilities-mobile .text-capability{
    font-size: 0.9em;
}


.section-parallax {
    background: url(/img/img6.jpg) no-repeat fixed center;
    background-size: cover;
    max-height: 400px;
  }
  
 
  .parallax-img {
    position: relative;
    height: 400px;
  }



 /************************/
/******** CONTACT *******/
/************************/

#contact-mobile{
    height: fit-content;
    background: rgb(5,11,19);
    background: linear-gradient(45deg, rgba(5,11,19,1) 0%, rgba(77,77,77,1) 49%, rgba(51,48,64,1) 100%);
    text-align: center;
    padding: 10px 9vw;
}


#contact-mobile h3{
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.5em;
}

#contact-mobile .container3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.8em 0;
}

#contact-mobile i{
    font-size: 1.5em;
    padding: 0.5em;
}


#contact-mobile .titreOffice{
    font-size: 1.2em;
    padding: 1em 0;
}

#contact-mobile .textoffice1{
    font-style: italic;
    padding: 0.9em 0.5em;
    font-size: 1em;
}

#contact-mobile .adresse{
    font-size: 0.9em;
}

#contact-mobile .backTop{
    padding: 1em;
}



 /************************/
/******** FOOTER *******/
/************************/

#footer-mobile{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    background-color: var(--black-gradiant);
    font-size: 0.65em;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.4em;
    padding:1.5em ;
}

#footer-mobile p,span{
    color: rgb(192, 192, 192);
}


.popup {
    position: relative;
    /* display: inline-block; */
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: underline;
}

.popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #414040;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 60%;
    margin-left: -120px;
  }

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #414040 transparent transparent transparent;
  }

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    /* -webkit-animation: fadeIn 1s; */
    animation: fadeIn 1s;
  }


/*******Animations **********/

.appear{
    opacity: 0;
    transition: 1.2s all ease;
}

.appear.active{
    opacity: 1;
}

.reveal{
    opacity: 0;
    transform: translateY(90px);
    transition: 0.5s all ease;
}

.reveal.active{
    opacity: 1;
    transform: translateY(0);
}

.rotate.active{
    animation: rotation 1s;
}

@keyframes rotation {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
  }

.slide-right{
    opacity: 0;
    transform: translateX(-90px);
    transition: 0.5s all ease;
}

.slide-right.active{
    opacity: 1;
    transform: translateX(0);
}

}


/* ***************************************************************** */
/************Styles specifiques pour les grands moniteurs *************/
@media screen and (min-width: 1700px){
    #whoWeAre .container1{ 
        width: 68vw;
        justify-content: space-around;
    }
    
    #whoWeAre .container2{
        flex-basis: 45%;
    } 
    
    #whoWeAre .container3-1{
        padding-right: 4.5em;
    }
    
    #whoWeAre .container3-1 .p1{
        font-size: 1.25em;
    }

    #whoWeAre .container3-1 .p2{
        font-size: 1.25em;
    }  

    #whoWeAre .container3-1 .p3{
        font-size: 1.25em;
    }    

    #whoWeAre h2{
        font-size: 2.2em;
    }
}
